body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
    max-width: 525px;
    margin: 0 auto;
}

main {
    padding: 1em;
    font-size: 16px;
}

h1 {
    font-size: 2em;
}

h3 {
    font-size: 1.4em;
}

.githubLink {
    max-width: 100px;
}

.grey {
    color: #444444;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: darkred;
}

.text-info {
    color: #007CE0;
}

.checkbox {
    margin: 4px 0;
}

.checkbox input {
    color: #1B1B1B;
}

.password-container {
    margin: 30px auto;
}

button#submit {
    width: 100%;
    padding: 8px 5px;
}

.form-control {
    margin: 10px auto;
    padding: 10px 5px;
    background-color: #007CE0;
    color: #f1f1f1;
}

.options {
    font-size: .9em;
}

.section-2 {
    margin-top: 50px;
}

@media (min-width: 640px) {
    .password-container {
        max-width: 300px;
    }
    .password-container {
        margin: 50px auto;
    }
}
