body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Arial", sans-serif;
    color: #4E4E4E;
    background-color: #f1f1f1;
}

div.form-control {
    display: inline-block;
    width: 252px;
}

.password-container {
    text-align: center;
}

button#submit {
    margin-top: 1em;
    margin-bottom: 1em;
}

div.checkbox {
    margin:0;
}

input[type="checkbox"] {
    margin-top: 0;
}

select.form-control {
    width: 100px;
}

#information {
    margin-top : 1em;
}

/*
 * Media queries
 */

@media (min-width: 768px) {
    div.form-control {
        width: 252px;
    }
    .col-xs-12 + .col-xs-12 {
        margin-top: 50px;
    }
    button#submit {
        margin-right: 2.2em;
    }
    .options {
        max-width: 540px;
        margin: 0 auto;
        clear: both;
    }
    .options_check {
        width: 312px;
    }
    .options_check,
    .options_select {
        float: left;
    }
}
















