

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Arial", sans-serif;
    color: #4E4E4E;
    background-color: #f1f1f1;
}

div.form-control {
    display: inline-block;
    max-width: 252px;
    margin: 1em auto;
}
.checkbox {
    margin: 0;
}

@media (min-width: 768px) {
    div#motdepasse.form-control {
        max-width: 252px;
    }
    .row + .row,
    .col-xs-12 + .col-xs-12 {
        margin-top: 20px;
    }
}
















